body{
    color: blue;
    background-color: lightskyblue;
    text-align: center;
    font-size: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    color: darkblue;
    background-color: aliceblue;
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    color: black;
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    background-color: lightskyblue;
}
